.movie-details-grid {
  display: grid;
  gap: 1rem;
  margin: 1rem;
  grid-template-columns: 1fr 9fr;
}

.movie-details-grid > * {
  background-color: #1b2634;
  border-radius: 10px;
}

.grid-1 {
  min-width: 250px;
  min-height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.grid-1 > img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.grid-2,
.grid-3 {
  padding: 1rem;
  font-size: 1.2rem;
}

.grid-2 > p,
.grid-3 > p {
  font-size: 1.2rem;
  padding: 0.2rem;
  margin: 0.6rem;
  word-break: break-all;
}

.grid-2 > p > span,
.grid-3 > p > span {
  display: inline-block;
  width: 20%;
}

.grid-2 > .imdb-rating {
  border-radius: 100%;
  font-size: 1.3rem;
  padding: 0.7rem;
  margin-bottom: 1rem;
  color: #1b2634;
  background-color: #20de8c;
  display: inline-block;
  right: 0;
}

.grid-3 {
  grid-column: 1 / span 2;
  padding: 1rem;
}

.grid-3 > p {
  font-size: 1.2rem;
}
