.navbar {
  display: flex;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #1b2634;
}

.heading {
  font-size: 1.5rem;
}

.nav-right {
  display: flex;
}

.search-bar {
  outline: none;
  border: none;
  align-items: right;
  background: none;
  color: white;
  background-color: #253240;
  font-size: 1rem;
  width: 20vw;
  padding: 0.5rem 0 0.5rem 1rem;
  border-radius: 1rem 0 0 1rem;
}

.search-button {
  background: url("https://api.iconify.design/akar-icons/search.svg?color=%2320de8c")
    no-repeat center center / contain;
  border: 0.6rem #253240 solid;
  width: 2.2rem;
  height: 2.2rem;
  background-color: #253240;
  border-radius: 0 100% 100% 0;
  cursor: pointer;
}
